.footer {
  padding-block: 30px;
  border-top: 1px solid var(--main-color);
}

.footer__container {
  display: flex;
  
  gap: 30px;
}

@media (width > 576px) {
  .footer__container {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

@media (width <= 576px) {
  .footer__container {
    flex-direction: column;
  }
  .footer__menu .menu__list {
    align-items: flex-start;
    flex-direction: column;
  }
}

.footer__phone {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: var(--main-color);
  transition: color var(--transition-time);
}

@media (any-hover: hover) {
  .footer__phone:hover {
    color: var(--accent-color);
  }
}
