.main__footer {
    background: #111;
    color: #fff;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    gap: 90px;
}

.footer__col--three {
    display: flex;
    flex-wrap: wrap;
    gap: 0 83px;
}

.footer__col {
    min-width: 269px;
}

.footer__col-logist {
    font-weight: 900;
    font-size: 24px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    margin-bottom: 54px;
}

.footer__col-number {
    font-weight: 700;
}

.footer__socials {
    display: flex;
    gap: 20px;
    margin-bottom: 45px;
}

.footer__logo {
    padding: 50px 0 25px;
}
.footer__logo img {
    width: 20%;
}

.footer__title {
    padding-bottom: 36px;
    font-size: 20px;

}

.footer__col-item {
    margin-bottom: 6px;
    font-weight: 300;
    font-size: 18px;
}

.footer__col-title {
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 10px;
}

.footer__inner-1 {
    display: flex;
}

.footer__col-copy {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 57px;
}

.footer-collumns {
    margin-top: -6px;
}