.header__top {
    background: #111111;
    color: #fff;
}

.header__inner {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 50px;
}

.header__logo {
    z-index: 11;
}

.header__nav-list {
    display: flex;
    gap: 30px;
    gap: 4vh 30px;
}

.header__bag {
    position: relative;
    transition: var(--transition);
}
.header__bag path{
    transition: var(--transition);
}
.header__bag:hover path {
    stroke: var(--accent-color);
}

.cart-count {
    position: absolute;
    top: 20px;
    right: -10px;
    background-color: #fff;
    color: #111;
    font-size: 12px;
    border-radius: 50%;
    padding: 2px 6px;
}
.show {
    display: none;
}
/* ==================================== */
.hero {
    padding-bottom: 150px;
}

.header__hero {
    background: #dddddd;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__content {
    max-width: 556px;
    width: 100%;
    padding: 120px 0;
}

.hero__text {
    font-family: 'Namu Pro';
    font-weight: 900;
    font-size: 46px;
    line-height: 1.03;
    color: #111;
    margin-bottom: 40px;
}

.hero__subtitle {
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 90px;
}

.hero__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent-color);
    color: #fff;
    padding: 15.5px 51px;
    font-size: 24px;
    max-width: 40%;
}



.hero__img {
    max-width: 997px;
    align-self: flex-end;
}

.hero__img img {
    width: 100%;
    max-width: none;
}