body {
    font-family: 'Open Sans', 'NAMU Pro', 'NAMU 1850', sans-serif;
    line-height: 1.5;
    font-size: 20px;
    line-height: 1.3;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1390px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* ======================= */

.header__top {
    background: #111111;
    color: #fff;
}

.header__inner {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header__burger {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.header__burger span {
    display: block;
    width: 32px;
    height: 3px;
    background: #fff;
}

.header__burger span,
.header__burger span::before,
.header__burger span::after {
    display: block;
    width: 32px;
    height: 3px;
    border-radius: 100px;
    background: #fff;
    position: relative;
}

.header__burger span::before,
.header__burger span::after {
    content: '';
    position: absolute;
}

.header__burger span::before {
    top: -8px;
}

.header__burger span::after {
    bottom: -8px;
}

.header__logo {}


.header__nav-list {
    display: flex;
    gap: 30px;

}

.header__item {}

.header__link {}

.header__bag {}

/* ==================================== */
.hero {
    padding-bottom: 150px;
}

.header__hero {
    background: #dddddd;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__content {
    max-width: 556px;
    width: 100%;
    padding: 120px 0;
}

.hero__text {
    font-family: 'Namu Pro';
    font-weight: 900;
    font-size: 46px;
    line-height: 1.03;
    color: #111;
    margin-bottom: 40px;
}

.hero__subtitle {
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 90px;
}

.hero__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c5358c;
    color: #fff;
    padding: 15.5px 51px;
    font-size: 24px;
    max-width: 40%;
}



.hero__img {
    max-width: 997px;
    align-self: flex-end;
}

.hero__img img {
    width: 100%;
}


/* =================================== */

.main__offer {
    padding-bottom: 150px;
}

.offer {}

.container {}

.offer__gallery {
    display: grid;
    grid-template: repeat(2, auto) / repeat(4, auto);
    gap: 20px;
    align-items: center;
}

.offer__gallery-cards {
    box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.05);
}

.offer__gallery-cards {

    width: 100%;
}

.offer__gallery-img {
    width: 100%;
}

.offer__gallery-info {
    padding: 20px 40px;
    transition: all .4s;
}

.offer__gallery-info:hover {
    background: #111;
    color: #fff;
    border-radius: 0 0 10px 10px;
}

.offer__gallery-info:hover path {
    fill: #fff;

}

.offer__gallery-name {
    font-family: "NAMU Pro";
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 11px;
}

.offer__gallery-link {
    font-size: 24px;
    margin-right: 20px;
    display: flex;
    gap: 20px;
}

.offer__gallery-link svg {
    min-width: 20px;
}

/* ================================================ */

.main__footer {
    background: #111;
    color: #fff;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    gap: 90px;
}

.footer__col--three {
    display: flex;
    flex-wrap: wrap;
    gap: 0 83px;
}

.footer__col {
    min-width: 269px;
}

.footer__col-logist {
    font-weight: 900;
    font-size: 24px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    margin-bottom: 54px;
}

.footer__col-number {
    font-weight: 700;
}

.footer__socials {
    display: flex;
    gap: 20px;
    margin-bottom: 45px;
}

.footer__logo {
    padding: 50px 0 25px;
}

.footer__title {
    padding-bottom: 36px;
    font-size: 20px;

}

.footer__col-item {
    margin-bottom: 6px;
    font-weight: 300;
    font-size: 18px;
}

.footer__col-title {
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 10px;
}

.footer__inner-1 {
    display: flex;
}

.footer__col-copy {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    padding-bottom: 57px;
}

.footer-collumns {
    margin-top: -6px;
}





















@media (max-width: 1400px) {
    .header__nav-list {
        display: none;
    }

    .header__logo {
        margin-right: auto;
    }

}

@media (max-width: 1300px) {
    
    .offer__gallery-cards {
        max-width: 300px;
    }
    
    .offer__gallery-name {
        font-size: 24px;
    }
    
    .offer__gallery-link {
        font-size: 18px;
        
    }
    /* ============================= */
    .footer__col--three {
        gap: 0 60px;
    }
    
    .footer__inner {
        gap: 50px;
    }
}

@media (max-width: 1200px) {

    .footer__inner {
        gap: 0px;
    }

    .footer__col-item,
    .footer__col-copy,
    .footer__col-title,
    .footer__title {
        font-size: 14px;
    }

    .footer__col-logist {
        font-size: 18px;
    }

    .footer__socials {
        margin-bottom: 25px;
    }

    .footer__col-logist {
        margin-bottom: 40px;
    }
}

@media (max-width: 1100px) {
    .hero__text {
        font-size: 40px;
    }

    .hero__subtitle {
        margin-bottom: 30px;
        width: 77%;
        font-size: 20px;
    }

    .hero__inner {
        flex-direction: row;
    }

    .hero__img {
        width: 544px;
    }

    /* ============================ */

    .offer__gallery {
        grid-template: repeat(3, auto) / repeat(3, 31%);
    }

    .offer__gallery-img img {
        width: 100%;
    }

    .offer__gallery-cards {
        margin-left: 15px;
    }
}

@media (max-width: 1000px) {
    .footer__collumn {
        margin-bottom: 20px;
    }
}

@media (max-width: 900px) {
    .header__logo img {
        width: 170px;
    }

    /* ============================= */
    .hero__text {
        font-size: 36px;
    }

    .hero__subtitle {
        font-size: 18px;
    }


    
    /* -================ */
    .offer__gallery {
        grid-template: repeat(3, auto) / repeat(2, 36%);
        justify-content: center;
    }
    
    /* ==================== */
    
    .footer__inner-1 {
        margin: 0 0 30px;
    }
    .footer__col--three {
        gap: 0px 51px;
    }

    .footer__col {
        min-width: 230px;
        margin: 0 12px 0 0px;
    }

    .footer__col:last-child {
        min-width: 230px;
        margin: 0;
    }

    .footer__logo img {
        width: 170px;
    }

    .footer__inner {
        gap: 0px;
        flex-direction: column;
    }

    .footer__inner-1 {
        margin: 0 0 30px;
    }

    /* ===================== */

}


@media (max-width: 900px) {
    .footer__col--three {
        gap: 0px 51px;
    }

    .footer__col {
        min-width: 230px;
        margin: 0 12px 0 0px;
    }

    .footer__col:last-child {
        min-width: 230px;
        margin: 0;
    }

    .footer__logo img {
        width: 170px;
    }

    .header__logo img {
        width: 170px;
    }

    /* ===================== */
    .offer__gallery {
        grid-template: repeat(3, auto) / repeat(2, 36%);
        justify-content: center;
    }
}


@media (max-width: 800px) {

    .hero__content {
        padding-bottom: 110;
    }

    .hero__subtitle {
        margin-bottom: 30px;
    }

    .hero__button {
        padding: 7.5px 49px;
        font-size: 18px;
    }

    /* ================ */

}

@media (max-width: 700px) {
    .hero__inner {
        flex-direction: column;
    }

    .hero__content {
        padding-bottom: 0;
        z-index: 1;
    }

    .hero__img img {
        margin-top: -90px;
        margin-right: 33px;
    }

    .hero__button {
        max-width: 30%;
        min-width: 167px;
    }

    .hero__text {
        margin-bottom: 25px;
    }

    /* ================ */

}

@media (max-width: 600px) {
    .hero {
        padding-bottom: 80px;
    }

    .main__offer {
        padding-bottom: 80px;
    }

    .hero__img img {
        width: 400px;
        margin-left: 30%;
    }

    .hero__text {
        font-size: 28px;
    }

    /* ================= */
    .offer__gallery {
        grid-template-columns: 1fr;
        justify-items: center;
    }

}

@media (max-width: 470px) {
    .hero__img img {
        width: 250px;
        margin-left: 56%;
    }

    .header__logo img {
        width: 110px;
    }

    /* ============== */
    .hero__button {
        padding: 4.5px 49px;
    }

    /* ============================ */
    .footer__inner-1,
    .footer__col--three {
        flex-direction: column;
    }

    .footer__col {
        margin-bottom: 10px;
    }

    .footer__logo img {
        width: 110px;
    }



}