.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 24px;
}
.burger__icon-cross {
  display: none;
}
.header__burger {
  display: none;
}
@media (width <= 1150px) {
  .header__burger {
    display: block;
  }
}
.header__logo {
  display: flex;
  gap: 16px;
}

.header__logo-link {
  font-family: var(--third-family);
  font-weight: 800;
  font-size: 32px;
  text-transform: uppercase;
}
.header__nav-list {
  display: flex;
  gap: 24px;
}

@media (width <= 1150px) {
  .header__nav {
    display: none;
  }

  .header__nav {
    display: flex;
    position: fixed;
    top: -100%;
    right: 0;
    width: 100%;
    height: 36%;
    background-color: #fff;
    z-index: 10;
    transition: top 0.3s ease;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  /* Класс, который мы будем добавлять через JS */
  .header__nav.is-open {
    top: 15%;
  }

  .header__nav-list {
    flex-direction: column;
    gap: 30px;
  }

  /* Переключение иконок в кнопке */
  .burger.is-active .burger__icon-menu {
    display: none;
  }
  .burger.is-active .burger__icon-cross {
    display: block;
  }
}

.header__actions {
  display: flex;
  gap: 14px;
  align-items: center;
}

.header__search {
  display: flex;
  gap: 14px;
  background-color: #f0f0f0;
  max-width: 100%;
  width: 462px;
  height: 48px;
  border-radius: 62px;
  align-items: center;
  padding-left: 18px;
  margin-right: 26px;
}

@media (width <= 840px) {
  .header__search {
    background-color: inherit;
    margin-right: 0;
    max-width: none;
    height: auto;
    width: auto;
    justify-content: flex-end;
    align-items: self-start;
  }
}

.header__search-text {
  color: var(--second-color);
}

.header__seacrh-icon {
  fill-opacity: 0.4;
}
@media (width <= 840px) {
  .header__seacrh-icon {
    fill-opacity: 1;
  }
}

@media (width <= 840px) {
  .header__search-text {
    display: none;
  }
}
