.news__container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: clamp(52px, 1.9vw + 44.6px, 72px);
  padding-bottom: clamp(40px, 2.29vw + 31.1px, 64px);
}

.news__clothes-list {
  display: flex;
  gap: 20px;
  margin-bottom: 36px;
  flex-wrap: wrap;
  justify-content: center;
}

.news__title {
  font-family: var(--second-family);
  font-weight: 900;
  font-size: clamp(30px, 4.3vw + 13.2px, 48px);
  text-align: center;
  margin-bottom: 55px;
}

.news__clothes-img {
  border-radius: 20px;
  margin-bottom: 16px;
}

@media (width <= 645px) {
  .news__clothes-img {
    max-width: 216px;
    max-height: 220px;
  }
}

@media (width <= 485px) {
  .news__clothes-img {
    max-width: 174px;
    max-height: 200px;
  }
}

.news__clothes-title,
.news__clothes-stars {
  margin-bottom: 8px;
}

@media (width <= 480px) {
  .news__clothes-title,
  .news__clothes-stars {
    margin-bottom: 5px;
  }
}

.news__clothes-title,
.news__clothes-price {
  font-weight: 700;
  font-size: 20px;
}

@media (width <= 500px) {
  .news__clothes-title {
    font-size: 15px;
  }
}
@media (width <= 500px) {
  .news__clothes-price,
  .news__clothes-old-price {
    font-size: 18px;
  }
}

@media (width <= 500px) {
  .news__clothes-stars {
    height: 16px;
  }
}

.news__clothes-price-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.news__clothes-old-price {
  font-weight: 700;
  font-size: 24px;
  text-decoration: line-through;
  color: var(--old-price-color);
}

@media (width <= 500px) {
  .news__clothes-old-price {
    font-size: 18px;
  }
}

.news__clothes-discount {
  font-weight: 500;
  font-size: 12px;
  color: var(--discount-color);

  background-color: var(--discount-bg-color);
  border-radius: 62px;
  padding: 6px 14px;
  width: 58px;
  height: 28px;
}

@media (width <= 500px) {
  .news__clothes-discount {
    font-size: 10px;
    padding: 0;
    text-align: center;
    align-content: center;
    width: 40px;
    height: 20px;
  }
}

.news__button-wrapper {
  text-align: center;
}

.news__button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 62px;
  padding: 16px 54px;
}

.news__clothes-item.is-hidden {
  display: none;
}

@media (width <= 480px) {
  /* Скрываем 3-ю и 4-ю карточки, которые видны на десктопе */
  .news__clothes-item:nth-child(n + 3) {
    display: none;
  }

  /* Но если мы нажали кнопку и добавили класс .is-visible, то показываем! */
  .news__clothes-item.is-visible {
    display: block !important;
  }
}

.news__clothes-item {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
