.reviews {
    overflow: hidden;
}
.reviews__container {
    padding: 80px 0 170px;
}

.reviews__title {
    font-family: var(--second-family);
font-weight: 900;
font-size: 48px;
margin-bottom: 40px;
}

.reviews__nav {
    display: flex;
    gap: 16px;
    justify-self: end;
    transform: translateY(-40px);
}
.reviews__slider {

  padding-left: calc((100vw - 1240px) / 2); 
  overflow: visible !important;
}
.reviews__slide {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 28px 32px;
  max-width: 400px;
  box-sizing: content-box;
}

.reviews__wrapper {
    margin-right: calc(-50vw + 50%);
}

.reviews__slide-star {
    margin-bottom: 15px;
}

.reviews__slide-name {
  display: flex;
  align-items: end;
  gap: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 110%;
  margin-bottom: 17px;
}
.reviews__slide-descr {
  line-height: 138%;
  color: rgba(0, 0, 0, 0.6);
}



/* .reviews__slide {
    opacity: 0.5;
}

.reviews__slide.swiper-slide {
    transform: scale(0.9);
}

.swiper-slide-active.reviews__slide {
    transform: scale(1);
    opacity: 1;
} */

