body {
    background-color: #262629;
    color: #fff;
}
.square {
    position: fixed;
    border-radius: 10px;
    height: 50px;
    width: 45%;
    bottom: 100px;
    background-color: #c1bcbc;
    top: 90%;
    left: 75%;
    transform: translate(-50%, -50%);
}
.circle {
    position: relative;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #a74040;
    top: -50%;
    left: 10%;
}