:root {
  /* font-family */
  --font-family: "Satoshi", sans-serif;
  --second-family: "FONTSPRING DEMO - Integral CF Heavy", sans-serif;
  --third-family: "Integral CF", sans-serif;
  --font3: "Inter", sans-serif;

  /* colors */
  --second-color: #00000099;
  --main-glow-color: #ffffff4d;
  --second-bg-color: #2a2a29;
  --accent-bg-color: #f0eeed;

  /* price  */
  --old-price-color: #00000066;
  --discount-color: #f33;
  --discount-bg-color: #ff33331a;

  /* container */
  --container-width: 1240px;
  --second-container-width: 665px;
  --hero-container-width: 1270px;
  --container-padding: 15px;

  /* transitions */
  --transition-time: 0.2s;

  /* layers  */
  --layer-negative: -1;
  --layer-0: 0;
  --layer-1: 1;
  --layer-2: 2;
  --layer-3: 3;
}
