nav {
    background-color: rgb(240, 192, 134);
    height: 60px;
}
.section {
    color: black;
}
.quote {
    background-color: #d8da9a;
}
.footer-container {
    background-color: blueviolet;
    height: 300px;
    color: white;
}
a {
    color: white;
}