/* base */
@import "./base/normalize.css";
@import "./base/fonts.css";
@import "./base/vars.css";
@import "./base/globals.css";

@import "./blocks/top-bar.css";
@import "./blocks/header.css";
@import "./blocks/hero.css";
@import "./blocks/brands.css";
@import "./blocks/news.css";
@import "./blocks/liders.css";
@import "./blocks/styles.css";
@import "./blocks/reviews.css";
@import "./blocks/footer.css";


@import "./blocks/personal-account.css";