#whatsapp_widget>span {
    color: #454545;
    font-family: 'Montserrat'!important ;
    margin-right: 10px;
    font-size: 16.666666666667px;
}
.t-store .t-store__pagination {
    margin-top: 40px;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
}

.t951 .t-store__card__btns-wrapper {
    margin-top: 0;
}

.t-slds__thumbsbullet-border {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    border: 2px solid transparent;
    -webkit-transition: border-color ease-in-out .3s;
    -moz-transition: border-color ease-in-out .3s;
    -o-transition: border-color ease-in-out .3s;
    transition: border-color ease-in-out .3s;
}

.t951 .t951__grid-cont.t-store__valign-buttons .t-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 20px;
    padding: 13px;
}
.t-store__stretch-col_33 {
    width: 30%;
    margin: 1.111%;
}

.t951 .t-checkbox__indicator {
    border-color: #e0d09b;
    border-radius: 5px;
}
.t-store__filter__range_bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 2px;
    background-color: #e0d09b;
    border-radius: 4px;
}
.t-store__filter__btn, .t-store__filter__input {
    border: 1px #ddd solid;
    background: #f8f8f8;
    border-radius: 5px;
    color: #000;
    box-sizing: border-box;
    padding: 0 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.8;
    min-height: 24px;
    outline: 0;
}



.t-store__grid-cont_col-width_stretch[data-col-gap='20'] {
    /* padding: 0 10px 0 10px; */
}

.t-store__grid-separator {
    margin-bottom: 30px;
}
.t-store__prod-popup__btn-wrapper {
    margin-bottom: 5px!important ;
    margin-top: 20px;
}
.t-store__prod-snippet__container {
    padding-bottom: 60px;
    padding-top: 40px;
}
.t706__form-bottom-text {
    margin-bottom: 0px;
    margin-top: 20px;
    text-align: center;
}
.t-store__card__mark {
    background-color: #111;
    border-radius: 50px;
    box-sizing: border-box;
    color: #fff;
    display: table-cell;
    font-family: Roboto, Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    height: 25px;
    padding: 0 10px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
@media screen and (max-width: 960px) {
    .t498__col-wrapper {
        padding: 10px 0 30px 0;
    }
}
.t923__bgimg {
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
}
.t-store__card__bgimg, .t-store__card__bgimg_second, .t-store__card__img {
    margin: 6px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .1s linear;
    z-index: 2;
}

.t-feed__col-grid__post-wrapper .t-feed__post-bgimg, .t-feed__slider-grid__post-wrapper .t-feed__post-bgimg {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: left;
    top: 0;
    margin: 6px!important;
}

.t-store__prod-snippet__container {
    padding-bottom: 60px;
    padding-top: 40px;
    background-color: #fef9f5!important;
}

.t-feed__post-popup__text .t-redactor__tte-view .t-redactor__text, .t-feed__post-popup__text .t-redactor__tte-view blockquote.t-redactor__preface {
    margin-bottom: .75rem;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    padding: .25rem 0;
}
.t-feed__post-popup__title, .t-feed__post-popup__relevants-title, .t-feed__post-popup__relevants-item-title {
    color: #171717;
    font-family: 'FOOGL';
    font-weight: 300;
}
.t-feed__post-popup__text .t-redactor__tte-view h2.t-redactor__h2, .t-feed__post-popup__text .t-redactor__tte-view h3.t-redactor__h3, .t-feed__post-popup__text .t-redactor__tte-view h4.t-redactor__h4 {
    margin-bottom: .75rem;
    margin-top: 2rem;
    padding: .25rem 0;
    font-weight: 300;
}

    .t-feed__post-popup, .t-feed__post-popup.t-popup {

        background-color: #fef9f5 !important;
    }