.text1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
}
.text2 {
    text-decoration: line-through;
}
.text3 {
    text-align: center;
    text-transform: uppercase;
}
.text4 {
    text-shadow: 0px 2px 2px rgba(145, 43, 204, 0.5);
    text-decoration: overline wavy;
    word-spacing: 30px;
}
.text5 {
    text-decoration: underline double;
    word-spacing: 5px;
}